@media screen and ( max-width: 1260px)
    .main-container
        padding-left: 0

    // offer
    .offer-1
        .offer
            background-size: cover

    // results
    .results-wrapper
        .results
            &__left
                left: 10px
            &__right
                right: 10px

// =============================================
@media screen and ( max-width: 1200px)
    // monitoring
    .monitoring
        .main
            .center
                align-items: center
                display: flex
                .fig
                    display: none
    // work
    .work
        &__item
            .title
                font-size: 22px
            .description
                font-size: 16px
        .status
            &__text
                font-size: 16px

    // price
    .price
        &__arrows
            margin-top: -31px
        &__left
            left: 0
        &__right
            right: 0
        .slick-list
            .slick-track
                justify-content: space-around

// =============================================
@media screen and ( max-width: 1100px)
    // price
    // .price
    //     &__items-first
    //         justify-content: space-around
    //     &__items-second
    //         display: grid
    //         grid-template-columns: 1fr 1fr
    //         .price__item
    //             margin-left: auto
    //             margin-right: auto

    // reviews
    // .reviews
    //     &__items
    //         display: grid
    //         grid-template-columns: 1fr 1fr
    //     &__item
    //         margin-bottom: 40px
    

// =============================================
@media screen and ( max-width: 990px)
    // offer
    .offer
        grid-template-columns: 1.7fr 1fr
        &__ul
            padding: 20px 0 30px 45px

    // results
    .results
        .get-kp-but
            margin-top: 30px

    // monitoring
    .monitoring-wrapper
        .monitoring
            .main
                .center
                    display: none
                .right, .left
                    max-width: 100%
                .right
                    .monitoring__item
                        justify-content: left
                        .monitoring__text
                            padding-right: 0
                            padding-left: 20px
                            text-align: left
                            order: 2
                        .monitoring__img
                            order: 1

    // work
    .work
        .main
            display: flex
            flex-wrap: wrap
            width: 100%
            .left
                width: fit-content
            .center
                width: 65% 
            .right
                max-width: 600px
                width: 100%
                margin: 0 auto
                .status
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    padding: 30px 20px
                    &__text
                        font-size: 18px
                        padding-bottom: 0
        .select-serv-but
            margin-top: 20px
            max-width: 95%
            font-size: 14px
    
    // clients
    .clients
        padding: 60px 30px
        &__item
            .text-sec
                padding-left: 10px

    // why-we
    .why-we
        &__sec
            .title
                font-size: 20px
            .description
                font-size: 16px
            .center
                height: fit-content
                align-self: flex-end
                .robot
                    width: 260px 
        .indicators
            position: static 
            margin-top: 40px
            justify-content: space-around
            &__item
                margin: 0
                .value
                    margin-bottom: 10px
                    width: 150px
                    height: 150px
                    font-size: 48px
                .text
                    font-size: 18px
                    letter-spacing: normal

    // footer
    .footer
        &__items
            display: grid
            grid-template-columns: 1fr 1fr
            width: fit-content
            margin: 0 auto
        &__item
            width: fit-content
            margin-bottom: 20px
        &__bottom
            flex-direction: column
            .company
                align-self: flex-start
            .payments
                align-self: center
                margin-top: 30px


// =============================================
@media screen and ( max-width: 769px)
    // offer
    .offer-1
        .offer
            height: fit-content
            background-position-x: 20%
    .offer-2
        .offer__bg
            display: none
    .offer
        height: fit-content
        display: block
        .right
            .application
                &__title
                    width: fit-content
                    margin: 25px auto 10px auto
                &__label
                    margin: 0 auto
                    margin-bottom: 5px
                &__input
                    display: block
                    margin: 0 auto
                    width: 90%
                    max-width: 320px
                    padding: 6px 15px
                    font-size: 16px
                    border-radius: 10px
                    border: none
                    margin-bottom: 20px
                .participation-but
                    width: 195px
                    margin: 0 auto

    // results
    .results-wrapper
        .results
            padding: 20px 0

    // clients
    .clients
        &__item
            .text-sec
                .description
                    font-size: 14px

    // reviews
    .reviews
        &__items
            grid-template-columns: 1fr

    // questions
    .questions
        .accordeon
            &__title
                font-size: 22px
                padding-left: 4px
            .top    
                padding: 10px 15px 10px 20px
            &__toggle-but
                width: 32px
                height: 32px
                font-size: 18px
                right: 15px
            &__text
                padding-left: 20px
                padding-right: 20px




// =============================================
@media screen and ( max-width: 620px)
    .work
        .title-1
            margin-bottom: 0
            padding-bottom: 15px
        .main
            .left
                display: none
            .center
                width: 100%
        &__item
            height: fit-content
            background: #e7e7e7
            border-radius: 5px
            margin-bottom: 10px
            padding: 10px

    // clients
    .clients
        &__item
            max-width: 100%
            margin-bottom: 50px
    

// =============================================
@media screen and ( max-width: 575px)
    // titles
    .title-1
        padding-left: 0

    // results
    .results
        .get-kp-but
            margin: 0 auto
            margin-top: 30px
        &__item
            padding: 10px !important
    // monitoring
    .monitoring-wrapper
        .monitoring
            padding: 50px 20px
            .main
                flex-direction: column
            &__title
                padding-bottom: 40px
            &__item
                margin-bottom: 15px


    // questions
    .questions
        .accordeon
            &__item
                margin-bottom: 20px
            .top
                padding: 20px
            &__title
                font-size: 20px
                padding-left: 0
            &__img
                display: none
            &__text
                font-size: 16px
            .toggle-top
                flex-direction: column
                align-items: start
                .views
                    margin: 0
                    margin-top: 10px
            
    // why-we
    .why-we
        &__sec
            flex-direction: column
            justify-content: center
            .left, .right
                display: flex
                flex-direction: column
                max-width: 100%      
                padding: 15px
                border-radius: 10px
                background: lighten($brand, 10%)    
            .left
                margin-bottom: 20px
            .right
                .title, .description
                    text-align: left
            .center
                .robot
                    display: none
            .title
                margin-top: 0
                margin-bottom: 10px
            .description
                max-width: 100% !important
            .description-2
                margin-top: 0
        .indicators
            flex-direction: column
            &__item
                margin-bottom: 20px
                .value
                    width: 120px
                    height: 120px
                    font-size: 32px
                .text
                    font-size: 18px
                    max-width: 100%
        
    // promotion
    .promotion
        &__title
            font-size: 32px
        &__description
            line-height: normal

    // footer
    .footer
        padding: 30px 20px 0 20px
        &__title
            font-size: 16px
            margin-bottom: 5px
        &__ul 
            li
                font-size: 14px
        &__social
            img
                margin: 0
        &__bottom
            margin: 0
            .company
                .logo
                    flex-direction: column
                    align-items: flex-start
                    &__line
                        display: none


// =============================================
@media screen and ( max-width: 540px)
    // blog
    .blog
        .top
            flex-direction: column
            .stars
                margin-left: auto
        .bottom
            flex-direction: column
            padding: 7px 32px
            align-items: start
            .level
                padding: 7px 0

// =============================================
// min
@media screen and ( min-width: 440px)
    // price
    .price
        &__items-first, &__items-second 
            .slick-list
                padding: 20px
                .slick-track
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-around
                    .slide
                        width: 100% !important
                        max-width: 330px
                    &::before, &::after
                        content: ''
                        display: none



//max    
@media screen and ( max-width: 440px)
    //price
    .price
        &__items-first, &__items-second
            .price__item
                margin: 0 auto
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
            .slick-list
                padding: 10px 0

    // footer
    .footer
        &__items
            grid-template-columns: 1fr
            text-align: center
        &__item
            width: 100%
        &__social
            margin-bottom: 20px

        &__bottom
            .payments
                &__img
                    width: 100%