@media screen and (max-width: 1199px) {
    .service-item img {
        width: 100%;
    }
    .about-item {
        width: 200px;
        height: 200px;
        padding: 15px 0 15px 30px;
    }
    .review-item {
        padding: 45px;
    }
    .review-item .description {
        padding-bottom: 15px;
    }
    .call_back label {
        margin-bottom: 30px;
    }
    .call_back .user-message-label {
        margin-top: 0;
    }
    .call_back label, .call_back label input, .call_back label textarea {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .service-item img {
        display: block;
        width: 90%;
    }
    .about-items {
        margin-top: 120px;
    }
    .about-item {
        width: 160px;
        height: 160px;
        padding: 10px 0 10px 25px;
    }
    .about .about-item-count {
        font-size: 44px;
    }
    .about .about-item-complete {
        font-size: 12px;
        font-weight: 800;
    }
}

@media screen and (max-width: 767px) {
    .main-screen-title {
        font-size: 36px;
        text-align: center;
        line-height: 140%;
    }
    .main-screen a {
        display: block;
        margin: 45px auto;
    }
    .title {
        font-size: 36px;
        padding-top: 25px;
        padding-bottom: 60px;
        line-height: 120%;
    }
    .description {
        font-size: 14px;
    }
    .top_description {
        font-size: 18px;
    }
    .main-section {
        padding: 80px 0;
    }
    .service-item {
        width: 100%;
        max-width: 400px;
        padding-bottom: 30px;
    }
    .service-title {
        font-size: 18px;
    }
    .hide_767 {
        display: none;
    }
    .about-items {
        margin-top: 15px;
    }
    .about-item {
        display: block;
        margin: 5px auto;
    }
    .footer {
        padding: 50px 0;
    }
    .footer .title, .footer .description {
        text-align: center;
    }
    .footer .description {
        padding-bottom: 30px;
    }
    .footer .contacts {
        text-align: center;
    }
    .footer #send_but {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .description {
        font-size: 12px;
    }
    .top_description {
        font-size: 18px;
    }
    .main-section {
        padding: 80px 0;
    }
    .service-item img {
        width: 100%;
    }
    .service-title {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .about .title {
        padding-bottom: 30px;
    }
    .clients {
        padding: 50px 0;
    }
}

@media screen and (max-width: 400px) {
    .main-screen-title {
        padding-top: 245px;
    }
}

@media screen and (max-width: 385px) {
    .about-item {
        width: 140px;
        height: 140px;
        padding: 8px 0 8px 20px;
    }
    .about .about-item-count {
        font-size: 40px;
        margin: 0;
    }
}